<footer>
    <ul>
        <li>Accueil
            <div class="footer">
                <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                <li><a routerLink="/assistance" routerLinkActive="active">Assistance</a></li>
                <li><a routerLink="/a-propos" routerLinkActive="active">A propos</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </div>
        </li>
        <li>Blog
            <div class="footer">
                <li><a routerLink="/evenement" routerLinkActive="active">Evenement</a></li>
                <li><a routerLink="/information" routerLinkActive="active">Information</a></li>
                <li><a routerLink="/temoignage" routerLinkActive="active">Temoignage</a></li>
            </div>
        </li>
        <li>Assistance
            <div class="footer">
                <li><a routerLink="/atelier" routerLinkActive="active">Atelier de conseils</a></li>
                <li><a routerLink="/engagement" routerLinkActive="active">S'engager avec la societe</a></li>
            </div>
        </li>
        <li>A propos
            <div class="footer">
                <li><a routerLink="/ressources" routerLinkActive="active">Ressources</a></li>
                <li><a routerLink="/colaboration" routerLinkActive="active">Colaboration</a></li>
            </div>
        </li>
        <li>Evenement
            <div class="footer">
                <li><a routerLink="/campagnes" routerLinkActive="active">Campagnes</a></li>
                <li><a routerLink="/ceminaires" routerLinkActive="active">Ceminaires</a></li>
            </div>
        </li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
</footer>