<!-- <footer>
    <ul>
        <li>Accueil
            <div class="footer">
                <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                <li><a routerLink="/assistance" routerLinkActive="active">Assistance</a></li>
                <li><a routerLink="/a-propos" routerLinkActive="active">A propos</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </div>
        </li>
        <li>Blog
            <div class="footer">
                <li><a routerLink="/blog" routerLinkActive="active">Evenement</a></li>
                <li><a routerLink="/blog" routerLinkActive="active">Information</a></li>
                <li><a routerLink="/blog" routerLinkActive="active">Temoignage</a></li>
            </div>
        </li>
        <li>Assistance
            <div class="footer">
                <li><a routerLink="/assistance" routerLinkActive="active">Atelier de conseils</a></li>
                <li><a routerLink="/assistance" routerLinkActive="active">S'engager avec la societe</a></li>
            </div>
        </li>
        <li>A propos
            <div class="footer">
                <li><a routerLink="/a-propos" routerLinkActive="active">Ressources</a></li>
                <li><a routerLink="/a-propos" routerLinkActive="active">Colaboration</a></li>
            </div>
        </li>
        <li>Evenement
            <div class="footer">
                <li><a routerLink="/blog" routerLinkActive="active">Campagnes</a></li>
                <li><a routerLink="/blog" routerLinkActive="active">Ceminaires</a></li>
            </div>
        </li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
</footer> -->

<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4" style="background-color: rgb(255, 3, 188);">
    <div class="start w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <h2>Suivez nous</h2>
        <div class="footer">
            <div class=" foot sm:flex sm:items-center sm:justify-between">
                <!-- <a href="https://flowbite.com/"
                    class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <img src="./assets/img/Pic.png" style="width: 100px; margin-top: 3px; border-radius: 50%;"
                        class="h-8" alt="Flowbite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Royal Feminity</span>
                </a> -->
                <!-- <ul
                    class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                    <li><a href="#" class="hover:underline me-4 md:me-6">A propos</a></li>
                    <li><a href="#" class="hover:underline me-4 md:me-6">Politique de securite.</a></li>
                    <li><a href="#" class="hover:underline me-4 md:me-6">License</a></li>
                    <li><a href="#" class="hover:underline">Contact</a></li>
                </ul> -->
            </div>
            <div class="accounts">
                <a href="#" class="flex items-center space-x-2"><img
                        src="https://img.icons8.com/?size=96&id=32323&format=png" width="50px" alt="#"></a>
                <a href="#" class="flex items-center space-x-2"><img
                        src="https://img.icons8.com/?size=96&id=13912&format=png" width="50px" alt="#"></a>
                <a href="#" class="flex items-center space-x-2"><img
                        src="https://img.icons8.com/?size=96&id=13963&format=png" width="50px" alt="#"></a>
                <a href="#" class="flex items-center space-x-2"><img
                        src="https://img.icons8.com/?size=96&id=CFgF77P6Dw9p&format=png" width="50px" alt="#"></a>
                <a href="#" class="flex items-center space-x-2"><img
                        src="https://img.icons8.com/?size=96&id=118640&format=png" width="50px" alt="#"></a>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ date }}<a
                href="https://flowbite.com/" class="hover:underline">Royal Feminity™</a>. All Rights
            Reserved.</span>
    </div>
</footer>