.start {
    h2 {
        color: white;
    }

    .footer {
        display: flex;
        justify-content: center;

        .foot {
            justify-content: space-evenly;

            .flex {
                margin-top: 20px;
                gap: 10px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 1.2em;
                    }
                }
            }
        }

        .accounts {
            margin-top: 20px;

            .flex {
                padding: 20px;
            }
        }
    }
}