<div class="information">
    <h2>Information</h2>
    <div class="infos">
        <div class="journaux content">
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Madame Severine au debat pour la question d'honneur de la femme</span>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Jemyma Arab defend sa cause devant les tribunaux</span>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Une femme est virer de son boulot parce qu'elle a dit face aux arcelements</span>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Kene Aslee a la tete du feminisme en 2022</span>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Jemoma Ewono se rend au tribunal</span>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Mael Mebele devient monte sa propre entreprise et y est PDG</span>
            </div>
        </div>
        <div class="livres content">
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Femme d'honneur</span>
                <p><i>(Martine Elbrish-1968)</i></p>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Feministe au pas? Je choisi ma voie.</span>
                <p><i>(Camilla fotsing-1876)</i></p>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Se relever ou se perdre?</span>
                <p><i>(D'emraude Beduch en 1990)</i></p>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Femme et honneur</span>
                <p><i>(De Patricia Tonfack-2002)</i></p>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Force et respect ou respect et humilite?</span>
                <p><i>(Franck Bourey de Milan-2001)</i></p>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Emilie: la femme au reigne d'honneur</span>
                <p><i>(Muriel Lindou-2012)</i></p>
            </div>
        </div>
        <div class="films content">
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Honneur et temerite</span>
                <p><i>(Pascaline Tsayo)</i></p>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Emilie: la femme d'honneur</span>
                <p><i>(realise par Evrad bureau)</i></p>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Enchante par humilite de grace</span>
                <p><i>(Korine Jenova)</i></p>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Sparadra rose</span>
                <p><i>(Roseline Percher)</i></p>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Anabelle Mourdeille</span>
                <p><i>(Sepherin Babock)</i></p>
            </div>
            <div class="info">
                <img src="../../../../assets/img/images4.jpeg" alt="">
                <span>Myrabelle et la regle contre les femmes</span>
                <p><i>(Maurine Evengeline)</i></p>
            </div>
        </div>
    </div>
</div>