.information{
    margin-top: 50px;

    .infos{

        .content{
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
            color: black;
            
            .info{
                width: 50%;

                img{
                    width: 190px;
                }
            }
        }
        // .journaux{
        // }

        // .livres{
        // }

        // .films{
        // }
    }
}