<div class="welcome">
    <div class="details">
        <div class="text">
            <h5>Bienvenue sur <i><b>ROYAL FEMINITY!!!</b></i></h5>
            <h5>Ici, nous soutenons la jeune femmme et nous l'encourageons a etre la reine de la voie qu'elle emprunte.
            </h5>
            <p>Nous l'encourageons a se relever et pouvoir se reaffirmer en tant que femme forte, courageuse, et
                talentueuse.
                L'impowerment de la jeune femme, notre objectif!</p>
            <button>commencer maintenant</button>
        </div>
    </div>
</div>
<main>
    <div class="contain details">
        <h1>Information</h1>
        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus alias molestias corporis doloremque error. Voluptatem alias sapiente exercitationem rerum magni maiores labore maxime ipsum cumque quae, minus, dolorem ipsam asperiores!</p> -->
        <div class="container">
            <div class="content">
                <h4 class="title">Evenement</h4>
                <img src="../../../assets/img/download.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea laborum
                    perspiciatis sapiente nesciunt ad eum aut.</p>
                <button>MORE</button>
            </div>
            <div class="content">
                <h4 class="title">Nouvelles</h4>
                <img src="../../../assets/img/download.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea laborum
                    perspiciatis sapiente nesciunt ad eum aut.</p>
                <button>MORE</button>
            </div>
            <div class="content">
                <h4 class="title">Temoignage</h4>
                <img src="../../../assets/img/download.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea laborum
                    perspiciatis sapiente nesciunt ad eum aut.</p>
                <button>MORE</button>
            </div>
        </div>
    </div>
    <div class="contain">
        <h1 class="title">Assistance</h1>
        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus alias molestias corporis doloremque error. Voluptatem alias sapiente exercitationem rerum magni maiores labore maxime ipsum cumque quae, minus, dolorem ipsam asperiores!</p> -->
        <div class="container">
            <div class="content">
                <h4>Atelier</h4>
                <img src="../../../assets/img/download1.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea laborum
                    perspiciatis sapiente nesciunt ad eum aut.</p>
                <button>MORE</button>
            </div>
            <div class="content">
                <h4 class="title">Engagement</h4>
                <img src="../../../assets/img/download1.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea laborum
                    perspiciatis sapiente nesciunt ad eum aut.</p>
                <button>MORE</button>
            </div>
            <!-- <div class="content">
                <h4>Conseils</h4>
                <img src="../../../assets/img/download1.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea laborum
                    perspiciatis sapiente nesciunt ad eum aut.</p>
                <button>MORE</button>
            </div> -->
        </div>
    </div>
    <div class="contain details">
        <h1>A propos</h1>
        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus alias molestias corporis doloremque error. Voluptatem alias sapiente exercitationem rerum magni maiores labore maxime ipsum cumque quae, minus, dolorem ipsam asperiores!</p> -->
        <div class="container">
            <div class="content">
                <h4 class="title">Ressources</h4>
                <img src="../../../assets/img/images4.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea laborum
                    perspiciatis sapiente nesciunt ad eum aut.</p>
                <button>MORE</button>
            </div>
            <div class="content">
                <h4 class="title">Colaboration</h4>
                <img src="../../../assets/img/images4.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea laborum
                    perspiciatis sapiente nesciunt ad eum aut.</p>
                <button>MORE</button>
            </div>
            <div class="content">
                <h4>Aide</h4>
                <img src="../../../assets/img/images4.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea laborum
                    perspiciatis sapiente nesciunt ad eum aut.</p>
                <button>MORE</button>
            </div>
        </div>
    </div>
</main>


<app-footer></app-footer>