<app-header></app-header>
<div class="welcome">
    <div class="details flex">
        <div class="text">
            <h5>Bienvenue sur <i><b>ROYAL FEMINITY!!!</b></i></h5>
            <h5>Ici, nous soutenons la jeune femmme et nous l'encourageons a etre la reine de la voie qu'elle emprunte.
            </h5>
            <p>Nous l'encourageons a se relever et pouvoir se reaffirmer en tant que femme forte, courageuse, et
                talentueuse.
                L'impowerment de la jeune femme, notre objectif!</p>
            <button>commencer maintenant</button>
        </div>
        <div class="image"></div>
    </div>
</div>
<main>
    <div class="forbg-c">
        <div class="contain details">
            <div class="container">
                <div class="content">
                    <h4 class="title">Blog</h4>
                    <img src="../../../assets/img/download.jpeg" alt="">
                    <p>En faveur de votre reeducation, nous organisons pour vous divers evenements d'education et de
                        reeducation tels que des campagnes de sensibilisation et des ceminairess.</p>
                    <button routerLink="/blog">PLUS</button>
                </div>
            </div>
        </div>
        <div class="contain">
            <div class="container">
                <div class="content">
                    <h4>Assistance</h4>
                    <img src="../../../assets/img/download1.jpeg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea
                        laborum
                        perspiciatis sapiente nesciunt ad eum aut.</p>
                    <button routerLink="/assistance">PLUS</button>
                </div>
            </div>
        </div>
        <div class="contain details">
            <div class="container self">
                <div class="content">
                    <h4>A propos</h4>
                    <img src="../../../assets/img/images4.jpeg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at enim excepturi ea
                        laborum
                        perspiciatis sapiente nesciunt ad eum aut.</p>
                    <button routerLink="/a-propos">PLUS</button>
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>