<div class="container">
    <div class="aide">
        <div class="img">
            <img src="../../../../assets/img/Picture5.png" alt="">
        </div>
        <div class="aides">
            <h2>Aide</h2>
            <p>En cas de besoin, vous beneficer de notre attention. Nous vous accordons notre disponibilite lorsqu'elle
                est reclamee parce que nous nous inquietons pour vous.</p>
            <p>Envoyez nous un email ou contactez-nous directement <a routerLink="/contact">Ici</a></p>
        </div>
    </div>
</div>