<app-header></app-header>

<div class="contain">
    <!-- <div class="text">
        <h1>Contactez nous</h1>
        <p>Pour une meilleur efficacite, nous vous afrons notre disponibilite et celle de nos partnaires de
            colaboration.</p>
    </div> -->
</div>
<div class="container">
    <div class="container1">
        <button
            style="background-color: rgb(255, 3, 188); color: white; border: 0; width: 130px; border-radius: 10px; margin-top: 30px; padding: 3px; list-style: circle; border-left: 2px solid rgb(255, 3, 188); border-right: 2px solid rgb(255, 3, 188);">info
            contact</button>
        <h1>Contactez nous pour tous vos besoins</h1>
        <p>Notre disponibilite vous est reserve, pour un quelconque soucis nous sommes la.</p>

        <div class="conten">
            <div class="content">
                <div class="info">
                    <button></button>
                    <div class="txt">
                        <h4>Localisation</h4>
                        <span>visitez nous à</span>
                    </div>
                </div>
                <p>Douala, Cameroun</p>
            </div>

            <div class="content">
                <div class="info">
                    <button></button>
                    <div class="txt">
                        <h4>Service D'appel</h4>
                        <span>Appelez nous aux</span>
                    </div>
                </div>
                <p>Tel: +237-697-545-380</p>
            </div>

            <div class="content">
                <div class="info">
                    <button></button>
                    <div class="txt">
                        <h4>Envoyez un message</h4>
                        <span>Adresse Email</span>
                    </div>
                </div>
                <p>royalfeminity@gmail.com</p>
            </div>

            <div class="content">
                <div class="info">
                    <button></button>
                    <div class="txt">
                        <h4>Disponibilite</h4>
                        <span>Nous sommes actifs:   </span>
                    </div>
                </div>
                <p>Lun-Sam: 24h/24h</p>
                <p>Dim: 12h-00h</p>
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="cont">
            <div class="text">
                <!-- <iframe src="../../../favicon.ico" frameborder="0"></iframe> -->
                <h4>Discuter avec une IA</h4>
                <p>Nous avons mis en place une IA pour un accompagnement plus efficace dans votre procedure de
                    transition.
                </p>
                <button
                    style="background-color: rgb(255, 3, 188); border: 0; border-radius: 10px; padding: 3px; width: 90px; margin-top: 25px;">Discuter</button>
            </div>
            <img src="../../../assets/img/Picture4.png" alt="">
        </div>
        <div class="act">
            <div class="tex">
                <button
                    style="background-color: rgb(255, 3, 188); color: white; border: 0; width: 130px; border-radius: 10px; margin-top: 30px; padding: 3px; list-style: circle; border-left: 2px solid rgb(255, 3, 188); border-right: 2px solid rgb(255, 3, 188);">Contactez
                    nous
                </button>
                <h1>Contactez nous & Profitez</h1>
            </div>
            <!-- <div class="inputs">
                <div class="put">
                    <div class="flex">
                        <input type="name" name="name" placeholder="Votre Nom" required>
                        <input type="email" name="email" placeholder="Votre Email" required>
                    </div>
                    <div class="flex">
                        <input type="number" name="number" placeholder="Votre Telephone" required>
                        <input type="name" name="name" placeholder="Votre sujet" required>
                    </div>
                </div>
                <div class="input">
                    <input type="text" name="text" placeholder="Entrez vos attentes" required>
                </div>
                <button>Soumettre</button>
            </div> -->
            <form (submit)="sendEmail(); $event.preventDefault()">
                <input type="text" [(ngModel)]="name" placeholder="Votre Nom" required />
                <input type="email" [(ngModel)]="email" placeholder="Votre Email" required />
                <textarea [(ngModel)]="message" placeholder="Votre Message" required></textarea>
                <button type="submit">Envoyer</button>
              
                <p *ngIf="successMessage" style="color: green">{{ successMessage }}</p>
                <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
              </form>
              
              
        </div>
    </div>
</div>

<iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d254714.50541188486!2d9.4836078!3d4.0379419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1061128be2e1fe6d%3A0x92daa1444781c48b!2sDouala!5e0!3m2!1sen!2scm!4v1698051142323!5m2!1sen!2scm"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
</iframe>

<app-footer></app-footer>