.header {
    height: 9vh;
    width: 100%;
    background-image: url(../../../assets/img/12961.avif);
    background-repeat: no-repeat;
    background-size: cover;

    .nav {
        background: rgba(75, 170, 254, 0.726);
        height: inherit;
        color: white;

        .nav-bar {
            height: 50px;
            font-size: 1.3rem;
            // background-color: red;
            display: flex;
            justify-content: space-around;

            ul {
                display: flex;
                justify-content: space-between;
                width: 65%;
                margin-top: 10px;
                // background-color: rgba(0, 0, 0, 0.655);

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: white;
                    }

                    .drop {
                        margin-left: 20px;
                        height: 80px;
                        width: 130px;
                        background-color: rgba(255, 255, 255, 0.248);
                        padding-top: 5px;
                        padding-left: 5px;
                    }

                    .drop1 {
                        height: 65px;
                        width: 220px;
                    }

                    .drop2 {
                        height: 55px;
                    }
                }
            }

            .donate{

                button{
                    margin-top: 6px;
                    font-size: 18px;
                    padding: 8px;
                    width: 150px;
                    border-radius: 5px;
                    border: none;
                    background-color: rgb(255, 3, 188);
                }
            }
        }
    }

    .form{
        width: 250px;
        ul{
            width: 330px;
            display: flex;
            text-align: right;

        li{
            list-style: none;
            text-align: left;
            width: 130px;
            
            
            a{
                background-color: rgb(255, 3, 188);
                text-decoration: none;
                color: white;
                height: 30vh;
            }
        }
    }
    }
}