<div class="header">
    <div class="nav">
        <div class="nav-bar">
            <div class="logo">
                <img src="../../../assets/img/Pic.png" alt="" style="width: 50px; margin-top: 3px; border-radius: 50%;">
            </div>
            <ul>
                <li><a routerLink="/accueil">Accueil</a></li>
                <li><a routerLink="/blog" routerLinkActive="active">Blog</a>
                    <!-- <div class="drop">
                <li><a routerLink="" routerLinkActive="active">Evenement</a></li>
                <li><a routerLink="" routerLinkActive="active">Information</a></li>
                <li><a routerLink="" routerLinkActive="active">Temoignage</a></li>
        </div> -->
                </li>
                <li><a routerLink="/assistance" routerLinkActive="active">Assistance</a>
                    <!-- <div class=" drop drop1">
        <li><a routerLink="" routerLinkActive="active">Atelier de conseils</a></li>
        <li><a routerLink="" routerLinkActive="active">S'engager avec la sosiete</a></li>
    </div> -->
                </li>
                <li><a routerLink="/a-propos" routerLinkActive="active">A propos</a>
                    <!-- <div class="drop drop2">
    <li><a routerLink="" routerLinkActive="active">Ressources</a></li>
    <li><a routerLink="" routerLinkActive="active">Colaboration</a></li>
</div> -->
                </li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
            <div class="donate">
                <form class="header-form" style="width:300px">
                    <input type="text" placeholder="Recherche" id="search2">
                    <button type="button" id="searchbtn">
                        <img src="https://cdn0.iconfinder.com/data/icons/ui-essence/32/_8ui-128.png" width="25px">
                    </button>
                </form>
                <!-- <button routerLink="/contact">Faire un don</button> -->
            </div>
            <button (click)="logout()"
                style="width: 60px; border: none; border-radius: 3px; height:35px; margin-top: 5px; color: white;">Logout</button>
        </div>