<div class="contain">
    <div class="text">
        <h1>Assistance</h1>
        <p>Afin de pouvoir vous apporter notre assistance, nous avons etabli une etude sur differentes base qui vous
            permetra d'avoir une idee d'amelioration de votre personne et vous aidera a vous affirmer et de vous
            ameliorer dans chaque domaine de votre vie.
        </p>
    </div>
</div>

<main>
    <app-atelier></app-atelier>
    <app-engagement></app-engagement>
</main>

<app-footer></app-footer>