<div class="container">
    <div class="ressources">
        <img src="../../../../assets/img/images4.jpg" alt="">
        <div class="colabs">
            <h2>Nos ressources</h2>
            <p>La mise sur pied de ce site a ete d'une priorite absolue car il vise la question de la resolution d'un
                probleme
                precis. Ce probleme etant clairement l'empowerment, le developpement personnel de la jeune femme, nous
                avons
                tout mis en oeuvre pour atteindre notre but. Pour palier a ce probleme nous nous aider de quelques
                recherches,
                de certaines etudes et d'un soutient partenarial. Nous avons pour objectif de relever autant de femmes
                que
                possible et leur permettre de s'elever dans la societe, d'etre de dames forte et responsables mais
                surtout
                autonome. Nous les encourageons a reprendre confiance en elles, a s'affirmer en societe. Nous les aidons
                a
                trouver leur voix, une orientation des mieux evidente.</p>
        </div>
    </div>
</div>