.ressource {
    margin-top: 60px;

    h2 {
        margin-bottom: 20px;
    }

    .ressources {
        width: 80%;
        margin-left: 130px;
        display: flex;

        p {
            color: black;
        }
    }
}