.container{
    font-size: 1.1em;
    p{
        color: black;
    }
}
.personnel{
    display: flex;
    width: 65%;
    margin-left: 60px;
    align-content: center;
    margin-top: 30px;
    background: rgba(255, 0, 157, 0.535);
    
    h4{
        color: black;
    }
    .conseil{
        // width: 50vw;

        p{
            margin-left: 150px;
        }
        h4{
            margin-left: 200px;
        }
    }
    .conseils{
        width: 120vw;
    }

    .image{
        width: 900px;
    }

    h4{
        width: 40%;
        margin-left: 50px;
        margin-bottom: 15px;
    }
    p{
        color: black;
        width: 60%;
    }
}
.person{
    background-image: url(../../../../assets/img/jimage2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.perso1{
    background-image: url(../../../../assets/img/images4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.perso{
    margin-left: 380px;
}
.persoe{
    background-image: url(../../../../assets/img/44034.avif);
    background-repeat: no-repeat;
    background-size: cover;
}