<div class="container">
    <h2 style="margin-top: 20px; color:black">Atelier de conseils</h2>
    <p>Nous avons fais une repartition des differentes chategories de votre vie pour votre atelier de condeils afin de
        vous aider a mieux ameliorer le proccessus de votre developpement personnel.</p>

    <div class="personnel">
        <div class="conseils">
            <h4>La confiance en soi</h4>
            <p><i>La confiance en soi</i> est d'une priorite absolue dans le developpement personnel.</p>
            <p>Nombreuse entre vous, femmes, perdent leur estime de soi pour de diverse raison. Certaines a cause de la
                difarmation, des injures, de la violence, des echecs et bien d'autres raisons. Mais ce qui nous importe
                est
                que cette situation n'est pas ingerable. Avant tout, vous devez savoir et comprendre pourquoi vous
                n'avez
                plus/pas confiance en vous et essayer de surpasser vos peurs. Une foi que vous aurez reussis a affronter
                vos
                frayeur, vous serez pret a passer a l'etape suivante qui est la famille. Vaicre vos peurs insite en vous
                du
                courage, de la determination, un nouveau degre de resistance face aux difficultes faisant ainsi de vous
                une
                femme mure.</p>
        </div>
        <div class="image person">
            <img src="../../../../assets/img/jimage2.jpg" alt="" height="0px">
        </div>
    </div>
    <div class="personnel perso">
        <div class="image perso1">
            <img src="../../../../assets/img/images4.jpeg" alt="" height="250px">
        </div>
        <div class="conseils conseil">
            <h4>La vie en famille</h4>
            <p>En famille, le developpement personnel n'est pas toujours facile.</p>
            <p>Bien-que ce ne soit pas tres facile d'affirmer sont developpement personnel en famille, ca peut tout de
                meme etre ateignable. Pour le developpement en famille, la facilite de premiere classe est de
                privilegier le dialogue. Entre fille et mere, il est beaucoup plus facile de se comprendre lorsque la
                discussion se fait en intimite, dans le calme, et surtout de facon amicale. De cette facon, la
                discussion sera fluide et qui aura besoin de conseils ou d'information en beneficiera tres aisement.</p>
        </div>
    </div>
    <div class="personnel">
        <div class="conseils">
            <h4>Le developpement en societe</h4>
            <p>En ce qui concerne la societe, si vous avez deja passe et reussis les deux premieres etapes il sera
                beaucoup plus facile de vous de vous s'integrer et de vous affirmer dans la societe.</p>
            <p>Le developpement de votre confiance en vous et l'accord du privilege au dialogue en famille vous fais
                beneficier d'un grand pas d'avance dans le developpement personnel en societe. Ainsi, vu que savez
                surmonter vos peurs et vous faites faveur au dialogue dans des situations critiques, il ne vous reste
                plus qu'a pouvoir sourire, faire signe de respect et de politesse, et de pouvoir travailler en equipe
                sans que cela vous semble impossible. Vous devez egalement pouvoir affirmer votre voix dans un
                groupement lorsque necessaire. Savoir garder votre calme et etre a l'ecoute plutot que vous exprimer
                vous sera tres benefique.</p>
        </div>
        <div class="image persoe">
            <img src="../../../../assets/img/12.jpg" alt="" width="600px" height="300px">
        </div>
    </div>
</div>