<main>

    <body class="body">
        <!-- <button routerLink="/accueil" id="back">Retour a la page d'accueil</button> -->
        <div class="container">

            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form" novalidate>
                <div class="form-group">
                    <h2> Create an Account</h2>
                    <span>Provide your details</span>
                </div>

                <div class="form-group">
                    <label for="name"> Your Name</label>
                    <input type="text" name="name" id="name" placeholder="first last" class="form-control"
                        formControlName="name" required>
                    <div *ngIf="signupForm.controls['name'].dirty || signupForm.controls['name'].touched">
                        <p *ngIf="signupForm.controls['name'].errors?.['maxlength']">
                            maximum characters is 20
                        </p>
                        <p *ngIf="signupForm.controls['name'].errors?.['minlength']">
                            Minimum characters is 4
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Email </label>
                    <input type="text" name="email" id="email" placeholder="you@email.com" class="form-control"
                        formControlName="email" required>
                    <div *ngIf="signupForm.controls['email'].dirty || signupForm.controls['email'].touched">
                        <p *ngIf="signupForm.controls['email'].errors?.['pattern']">
                            Please enter a valid email
                        </p>
                    </div>
                    <p *ngIf="saveError">
                        email Already exists
                    </p>
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" id="password" name="password"  class="form-control"
                        formControlName="password" required>
                    <div *ngIf="signupForm.controls['password'].dirty || signupForm.controls['password']">
                        <p *ngIf="signupForm.controls['password'].errors?.['pattern']">
                            The password should have atleast one number and one letter
                        </p>
                    </div>
                </div>

                <div class="form-group2">
                    By signing up i agree to the <a href="">terms and conditions</a> and <a href="">privacy policy</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create account"
                        [disabled]="signupForm.controls['password'].invalid || signupForm.controls['email'].invalid">
                </div>
                <div class="form-group3">

                    <hr>
                    <p>OR</p>
                    <hr>
                </div>
                <!-- <div class="form-group3">
                    <button><img src="../../../assets/img/email.png" alt=""></button><button><img src="../../../assets/img/facebook.jpg"
                            alt=""></button><button><img src="../../../assets/img/tiktok.png" alt=""></button>
                </div> -->
                <p class="member">Already a member? <a href="/signin">Sign In</a></p>
            </form>
        </div>
    </body>

</main>
