<div class="container">
    <div class="colaborations">
        <img src="../../../../assets/img/download.jpg" alt="">
        <div class="colabs">
        <h2>Nos collaborateurs</h2>
        <p>En terme de nos colaborations, nous avons fais des choix specifiques toujours dans l'optique d'ateindre notre
            objectif. Nous avons fais association avec des psycologues, des agents d'assistance sociale, une
            intelligence artificielle (IA). Avec tout ceci nous visons un taux de reusite d'environ 90% et esperons
            pouvoir l'ateindre, voir plus.</p>
    </div>
</div>
</div>