.colaborations {
    margin-top: 60px;
    
    h2 {
        margin-bottom: 20px;
    }
    
    .colaboration {
        margin-left: 230px;
        width: 70%;
        color: black;
        display: flex;
    }
}