<div class="events">
    <h2>Evenements</h2>
    <!-- <p>Toujours dans l'optique d'ateint notre opjectif, nous mettons sur pied des seances de ceminaire et des campagnes
        de sensibilisation pour vous afin de vous donner de meilleur orientations car votre satisfaction fait notre
        plaisir.</p> -->
    <div class="actions">
        <div class="evenements" *ngIf="isActive">
            <div class="seance" *ngFor="let element of elements; index as i">
                <div class="evenement ceminaires">
                    <h4>Nos céminaire</h4>
                    <img (click)="readMore($event, i)" src="../../../../assets/img/12.jpg" alt="" width="350px">
                    <p *ngIf="!element.readmore">{{element.content | word}}</p>
                    <p *ngIf="element.readmore">{{element.content}} <a href="" style="color: rgb(255, 3, 188);">Ici</a>,
                        vous aurez vos pass d'adhésion à nos conférence.
                        Chaque seance traite une question precise et
                        et variée.</p>
                    <a href="{{element}}" (click)="readMore($event, i) "class="button">{{ 'plus' | uppercase }}</a>
                </div>
            </div>
        </div>

        <div class=" evenements articles" *ngIf="active">
            <div class="seance" *ngFor="let article of articles; index as i">
                <div class="evenement campagnes">
                    <h4>Nos campagnes</h4>
                    <img (click)="moreRead($event, i)" src="../../.././../assets/img/2.jpg" alt="" width="350px">
                    <p *ngIf="!article.moreRead">{{article.content | word}}</p>
                    <p *ngIf="article.moreRead">{{article.content}} <br>
                        C'est grace aux <a href="" style="color: rgb(255, 3, 188);">dons généreux</a> que vous faites
                        que
                        nous pouvons organiser ces campagnes de sensibilisation</p>
                    <a href="{{article}}" (click)="moreRead($event, i)" class="button">{{ 'plus' | uppercase
                        }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="seances">
    <div class="row" *ngIf="isActive">

        <div class="col-4 mb-4" *ngFor="let article of articles; index as i">
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title" appHighlight>{{article.title}}</h4>
                    <img src="" alt="">{{ article.image }}
                    <p class="card-text" *ngIf="!article.readmore">{{article.content | word}}</p>
                    <p class="card-text" *ngIf="article.readmore">{{article.content}}</p>
                    <a href="{{article.id}}" class="btn" [ngClass]="article.readmore ? ' btn-success' : 'btn-danger'" (click)="readMore($event, i)">{{'Read More' | uppercase}}</a>
                </div>
            </div>
        </div>
    </div>
</div> -->