<div class="events">
    <h2>Evenement</h2>
    <p>Toujours dans l'optique d'ateint notre opjectif, nous mettons sur pied des seances de ceminaire et des campagnes
        de sensibilisation pour vous afin de vous donner de meilleur orientations car votre satisfaction fait notre
        plaisir.</p>

    <div class="evenements">
        <div class="seance ceminaires">
            <h4>Nos ceminaire</h4>
            <img src="../../../../assets/img/12.jpg" alt="" width="300px">
            <p>Nous tenons les ceminaires tout les mois (au moins une fois par mois). Les ceminairesse se tiennent sur
                diverses formes, ils sont soit physiques ou virtuels. Chaque seance traite sur une question precise et
                pose les solutions sur table a chaque fin de ceux-ci.</p>
                <button>Plus d'info</button>
        </div>
        <div class="seance campagnes">
            <h4>Nos campagnes</h4>
            <img src="../../.././../assets/img/2.jpg" alt="" width="300px">
            <p>En faveur des problems que vous nous presentez et de celles qui n'ont pas l'occasion de profiter de nos
                seances de ceminaire et/ou de notre site, nous organisons des seances des campagne une fois par mois
                afin d'essayer de relever autant de femmes que nous pouvons.</p>
                <button>Plus d'info</button>
        </div>
    </div>
</div>