<app-header></app-header>
<div class="contain">
    <div class="text">
        <h1>Blog</h1>
        <p>Royal femity est mit sur pied a l'avantage des jeunes femmes estimees emotionellement sensible et fragilles,
            que
            ceci ait pour base la societe ou d'origine personnel.
            Nous donnons l'opportunite de changement et de developpement personnel pour chacune d'elles, avec une
            assistance
            definie en vue d'une suite digne d'etre apprecier.
        </p>
    </div>
</div>

<app-evenement></app-evenement>
<app-information></app-information>
<app-temoignages></app-temoignages>
<app-footer></app-footer>