// .temoignages {
//     display: flex;
//     background-image: url(../../../../assets/img/jimage4.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;
//     border-top-left-radius: 200px;
//     border-bottom-right-radius: 250px;
//     margin-top: 20px;

//     .temoignage {
//         border-top-left-radius: 200px;
//         // border-bottom-right-radius: 300px;
//         background-color: rgba(0, 0, 0, 0.468);
//         color: black;

//         .temoin {
//             margin-bottom: 10px;
//             width: 50%;
//             margin-left: 100px;

//             h5 {
//                 color: rgb(2, 182, 254);
//                 text-align: left;
//             }

//             p {
//                 background-color: white;
//                 border: 1px solid black;
//             }
//         }
//     }

//     .boutique {
//         border-bottom-right-radius: 250px;
//         background-color: rgba(0, 0, 0, 0.468);
//         width: 300px;
//         button {
//             border: none;
//             border-radius: 3px;
//             padding: 5px;
//             background-color: rgb(255, 3, 188);
//             color: white;
//             margin-right: 90px;
//             font-size: 1.1em;
//             margin-top: 250px;
//         }
//     }
// }

// .comments {
//   max-width: 600px;
//   margin: 0 auto;
// }

// .comment {
//   border: 1px solid #ddd;
//   padding: 10px;
//   margin-bottom: 10px;
//   border-radius: 5px;
// }

// .load-more {
//   display: block;
//   margin: 10px auto;
//   padding: 10px 20px;
//   border: none;
//   background-color: #007bff;
//   color: white;
//   border-radius: 5px;
//   cursor: pointer;
// }

// .load-more:disabled {
//   background-color: #aaa;
// }


.comment-section {
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: left;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 80px;
}

button {
  padding: 10px 20px;
  background-color: rgb(4, 180, 249);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments {
  margin-bottom: 0;
}

.comment {
  background: #ffffff92;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  font-size: larger;
  padding: 10px;
  margin: 10px 0;
  border-left: 4px solid #007bff;
  border-right: 4px solid #007bff;
}