/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

    h1, h2{
        color: rgb(255, 3, 188);
    }

    .contain {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40vh;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;
        
        .text{
            background-color: rgba(0, 0, 0, 0.400);
            height: inherit;
    
            h1 {
                padding-top: 20px;
                font-size: 4em;
            }
    
            p{
                font-size: 1.3rem;
            }
                
        }
    }

    button{
        background-color: rgb(2, 182, 254);
    }
}