/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;

    #back {
        // margin-bottom: 400px;
        // margin-left: -150px;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 130px;
        color: white;
    }

    button {
        cursor: pointer;
    }


    h1,
    h2 {
        color: rgb(255, 3, 188);
    }
    h2{
        text-decoration: underline;
    }

    .contain {
        background-repeat: no-repeat;
        background-size: cover;
        // width: 100%;
        // height: 40vh;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;

        .text {
            // background-color: rgba(0, 0, 0, 0.400);
            height: inherit;

            h1 {
                padding-top: 20px;
                font-size: 4em;
            }

            p {
                font-size: 1.3rem;
            }
        }
    }

    button {
        background-color: rgb(2, 182, 254);
    }
}

// // for the dark mode
// /* Define Light Mode (Default) */
// :root {
//     --bg-color: #ffffff;
//     --text-color: #000000;
//   }
  
//   /* Define Dark Mode */
//   .dark-theme {
//     --bg-color: #121212;
//     --text-color: #ffffff;
//   }
  
//   /* Apply the variables */
//   body {
//     background-color: var(--bg-color);
//     color: var(--text-color);
//     transition: background-color 0.3s ease, color 0.3s ease;
//   }
  