<main>

    <body class="body">
        <div class="container">
            <!-- <button routerLink="/accueil" id="back">Retour a la page d'accueil</button> -->


            <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="form">
                <div class="form-group">
                    <h2> Welcome Back!</h2>
                    
                </div>


                <div class="form-group">
                    <label for="">Email </label>
                    <input type="text" name="email" id="email" placeholder="you@email.com" class="form-control"
                        formControlName="email" required>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" id="password" name="password" placeholder="By.YoU02" class="form-control"
                        formControlName="password">
                </div>
                <div class="form-group" *ngIf="loginError">{{ loginError }}</div>
                <input type="submit" value="Login">

                <div class="form-group3">

                    <hr>
                    <p>OR</p>
                    <hr>
                </div>
                <!-- <div class="form-group3">
                    <button><img src="../../../assets/img/email.png" alt=""></button><button><img src="../../../assets/img/facebook.jpg"
                            alt=""></button><button><img src="../../../assets/img/tiktok.png" alt=""></button>
                </div> -->
                <p class="member">Already a member? <a href="/signup">Create an account</a></p>
            </form>
        </div>
    </body>

</main>
