<div class="temoignages">
    <div class="temoignage">
        <h2>Temoignages</h2>
        <div class="temoin">
            <img src="" alt="">
            <h5>Lana</h5>
            <p>Japprecie de tout coeur ce que vous faite, vos conseils m'ont ete tres eficace. J'ai reussi a me relever
                grace a eux.</p>
        </div>
        <div class="temoin">
            <img src="" alt="">
            <h5>Aurelia</h5>
            <p>J'ai adore la derniere seance de votre campagne, tres instructive.</p>
        </div>
        <div class="temoin">
            <img src="" alt="">
            <h5>Natalie</h5>
            <p>J'admire beaucoup le travail que vous faite, ca m'a vraiment change.</p>
        </div>
        <div class="temoin">
            <img src="" alt="">
            <h5>Sarah Bill</h5>
            <p>je vous suis partout avec ma mere et mes soeurs et nous vous transmettons toute notre admiration. Nous
                esperons que tous le monde trouvera satisfaction autant que nous</p>
        </div>
        <div class="temoin">
            <img src="" alt="">
            <h5>Jenny Wellson</h5>
            <p>Vos ceminaires sont tres instructifs, j'aprecie</p>
        </div>
        <div class="temoin">
            <img src="" alt="">
            <h5>Dana</h5>
            <p>J'aime tout ce que vous faite, c'est admirable.</p>
        </div>
        <div class="temoin">
            <img src="" alt="">
            <h5>Ophilia Doroty</h5>
            <p>Vos conseils sont superbes, et j'admire l'eficacite de vos agences.</p>
        </div>
        <div class="temoin">
            <img src="" alt="">
            <h5>Genny Skill</h5>
            <p>Ma famille et moi vous remercions grandement pour vos actions</p>
        </div>
        <div class="temoin">
            <img src="" alt="">
            <h5>Ophelia</h5>
            <p>Je n'ai assiste qu'a trois ceminaires et une campagne jusqu'ici mais tellement captivee deja. J'adore</p>
        </div>
        <div class="temoin">
            <img src="" alt="">
            <h5>Audrey Martinee</h5>
            <p>Vous sauvez des gens et leur redonnez leurs honneurs.</p>
        </div>
        <div class="temoin">
            <img src="" alt="">
            <h5>Elena Katerine</h5>
            <p>Vous avez aide ma fille a retrouver sa voie. Merci.</p>
        </div>
    </div>
    <div class="boutique">
        <button>Visiter la boutique</button>
    </div>
</div>